

.todo-list {
  border-radius: 12px;
  background: var(--bg);
  height:100vh;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  padding: 16px;
}

.card {
  background: var(--card);
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-transform: capitalize;
}

.card-status {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.card-footer {
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}